.device-sidebar {
  position: fixed;
  flex-direction: column;
  width: 280px;
  height: calc(100vh - 80px);
  padding: var(--space);
  background-color: #fff;
}
.device-actions {
  height: 40px;
}
.device-detail {
  margin-left: 290px;
}
@media (max-width: 576px) {
  .device-detail {
    margin-left: 0;
  }
}
