@import 'antd/dist/reset.css';
:root {
  --space: 16px;
}
body {
  color: rgba(0, 0, 0, 0.88);
}
tbody.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #eee;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  overflow-wrap: normal;
  white-space: nowrap;
}

.ant-statistic .ant-statistic-content-suffix {
  font-size: 14px;
}
.ant-tree .ant-tree-switcher {
  margin-inline-end: 0;
}
.ant-tree .ant-tree-node-content-wrapper {
  padding-inline: 4px;
}
.ant-select.unselected .ant-select-prefix {
  margin-inline-end: 0;
}
