@font-face {
  font-family: 'iconfont'; /* Project id 4997189 */
  src: url('iconfont.ttf?t=1755748188025') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-report:before {
  content: '\e745';
}

.icon-system:before {
  content: '\e93f';
}

.icon-alarm-management:before {
  content: '\e66e';
}

.icon-asset-management:before {
  content: '\e601';
}

.icon-device-management:before {
  content: '\e7c4';
}
